<!DOCTYPE html>
<lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Thông tin ứng dụng</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="background-login">
<div class="container emp-profile" th:each="app : ${appInfo}">
    <form method="POST" enctype="multipart/form-data" th:action="@{/home/add-to-cart(pid=${pid},id=${app.appName})}"  th:object="${cart}">
        <div class="row mb-5">
            <div class="col  text-center">
                <h2 th:text="${app.appName}">
                </h2>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 align-self-center">
                <div class="profile-img">
                    <img th:src="${app.avatarPath}" alt="" width="1000" height="1000" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="profile-head col-8">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông Tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bình Luận</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <input type="submit" class="profile-edit-btn btn-danger text-white" name="btnAddMore" value="Thêm Giỏ Hàng"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col pl-0">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row mb-2">
                                    <div class="col-md-2">
                                        <label>Ứng Dụng</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p th:text="${app.genre}"></p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-2">
                                        <label>Thể Loại</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p th:text="${app.tagName}"></p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-2">
                                        <label>Nội dung</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p th:text="${app.description}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <label>Văn Trần</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p> Hay !!!!</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <label>Văn Cường</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p> Hay tuyệt!!!!</p>
                                    </div>
                                </div> 
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <label>Văn Ba</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p> Hay đỉnh!!!!</p>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <h4 th:if="${param.error}" class="text-center text-danger">Ứng dụng đã tồn tại trong danh sách mong muốn</h4>
                <h4 th:if="${param.success}" class="text-center text-success">Ứng dụng đã được thêm vào danh sách mong muốn</h4>
            </div>

        </div>
        <div class="row">
            <div class="col text-right">
                <a th:href="@{/home(pid=${pid})}" class="btn btn-info" value="Cập Nhật"/>Quay lại</a>
            </div>
            <div class="">
                <a type="submit" id="download" name="download" th:href="@{${app.downloadPath}}" class="btn btn-primary" download th:if="${param.pid[0]} != 0" >Tải xuống</a>            </div>

        </div>
    </form>
</div>
</body>
</html>

</html>